<section class="section-experience">
    <div class="container">
        <h2 class="moments-title">Coffee Moments</h2>
        <p class="moments-text">
            Experience the warmth and community of CoffeeJoy.
        </p>

        <div class="container">
            <ul class="gallery-list">
                <li class="gallery-item">
                    <img 
                    srcset="../img/experience/coffee-cup-mob-1x.jpg 1x, ../img/experience/coffee-cup-mob-2x.jpg 2x"
                    src="../img/experience/coffee-cup-mob-1x.jpg" alt="Coffee cup" width="288" height="288">
                </li>
                <li class="gallery-item">
                    <img 
                    srcset="../img/experience/breakfast-scene-mob-1x.jpg 1x, ../img/experience/breakfast-scene-mob-2x.jpg 2x"
                    src="../img/experience/breakfast-scene-mob-1x.jpg" alt="Breakfast with coffee" width="288" height="288">
                </li>
                <li class="gallery-item">
                    <img 
                    srcset="../img/experience/coffee-book-mob-1x.jpg 1x, ../img/experience/coffee-book-mob-2x.jpg 2x"
                    src="../img/experience/coffee-book-mob-2x.jpg" alt="Coffee and book" width="288" height="162">
                </li>
                <li class="gallery-item">
                    <img 
                    srcset="../img/experience/hands-barista-mob-1x.jpg 1x, ../img/experience/hands-barista-mob-2x.jpg 2x"
                    src="../img/experience/hands-barista-mob-1x.jpg" alt="Barista pouring coffee" width="288" height="162">
                </li>
                <li class="gallery-item">
                    <img 
                    srcset="../img/experience/shop-interior-mob-1x.jpg 1x, ../img/experience/shop-interior-mob-2x.jpg 2x"
                    src="../img/experience/shop-interior-mob-1x.jpg" alt="Coffee shop interior" width="288" height="288">
                </li>
                <li class="gallery-item">
                    <img 
                    srcset="../img/experience/two-coffee-cups-mob-1x.jpg 1x, ../img/experience/two-coffee-cups-mob-2x.jpg 2x"
                    src="../img/experience/two-coffee-cups-mob-1x.jpg" alt="Two cups of coffee" width="288" height="288">
                </li>
                <li class="gallery-item">
                    <img 
                    srcset="../img/experience/takeaway-mob-1x.jpg 1x, ../img/experience/takeaway-mob-1x.jpg 2x,"
                    src="../img/experience/takeaway-mob-1x.jpg 1x," alt="Coffee outdoors" width="288" height="391">
                </li>
            </ul>
        </div>
    </div>
</section>