<div id="subscribe"></div>

<form class="join-form" method="post" action="/api/subscribe">

    <input type="hidden" name="redirect" value="/subscribe-success.html" />


    <label class="visually-hidden">
        Do not fill
        <input type="text" name="company" tabindex="-1" autocomplete="off" />
    </label>

    <label class="join-label" for="subscribe-email">
        <span class="visually-hidden">Email</span>
        <input class="join-input" type="email" id="subscribe-email" name="email" placeholder="Your Email Here"
            autocomplete="email" required />
    </label>

    <button class="join-btn" type="submit">Subscribe</button>
</form>