:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

body {
  font-family: "Quicksand", sans-serif, "Aboreto", system-ui;
  color: #0b0803;
  background-color: #e0cbb4;
  margin: 0;
}
