:root {
  font-family: "Quicksand", sans-serif, "Aboreto", system-ui;
  color: #0b0803;
  background-color: #e0cbb4;
}

body {
  margin: 0;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 44px;
  padding: 10px 24px;
  border-radius: 100px;
  background: #6f4e37;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  box-shadow:
    0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.20),
    inset 0 0 0 1px 0 rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover,
.btn:focus {
  background: rgba(111, 78, 55, 0.5);
}
